nav {
    font-size: 40px;
    margin-top: 20px;
    
    
    
    
}

li {
  list-style: none;
  display: inline
  
}
  
    
  
a {
    color: black;
    margin: 0px 40px 0px 40px;
    text-decoration: none;
    

}

#header-img {
    display: block;
    width: 250px;
    position: relative;
    left: 10px;
    top: 20px;
    border-radius: 20px;
    
    

}

#email-box {
    margin: auto;
    border: solid;
    width: 800px;
    height: 300px;
    position: relative;
    top: 150px;
    background-color: ;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0       6px 6px rgba(0,0,0,0.23);

}

#header {
    border-radius: 10px;
    width: 1500px;
    position: fixed;
    background-color: #444;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0       6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-between;
    
    
    
    
    
    
}

h1 {
    text-align: center;
    
}

.sub-button {
    transform:  scale(3);
    display: block;
    margin: auto;
    position: relative;
    top: 100px;
    background-color: orange;
    border-radius: 5px;
}

#email {
    display: block;
    margin: auto;
    transform: scale(2);
    position: relative;
    top: 20px;
    
}

p {
    text-align: center;
    font-size:medium;
}

.fretboard-image {
    display: block;
    width: 500px;
    margin: auto;
}

#boxes {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1200px;
    margin-top: 100px;

    
}

.size-box{
    width: 300px;
    height: 400px;
    border: solid;
    margin: auto;
    margin:  0px 50px 0px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0       6px 6px rgba(0,0,0,0.23);

    
}


#video-box{
    margin: auto;
    width: 800px;
    border: sol;
    height: 300px;
    margin-top: 80px;
    

}

#video {
    display: block;
    width: 500px;
    height: 295px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0       6px 6px rgba(0,0,0,0.23);
}

#features-boxes {
    border: sol;
    margin-top: 200px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0       6px 6px rgba(0,0,0,0.23);
}

a {
    color: lightgrey;
}

.light-text {
    display: block;
    background-color: #ddd;
}

#footer-box {
    background-color: #ddd;
    height: 100px;
    display: flex;
    justify-self: left;
    margin: auto;
    width: 1200px;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0       6px 6px rgba(0,0,0,0.23);
}

@media (min-width: 1905px) {
  #header {
    width: 1890px;
  }
}